<h1>Recipes</h1>

<table class="recipes">
  <thead>
    <tr>
      <th>Recipe Name:</th>
      <th>Servings:</th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
    <tr>
      <td>        
        <a href="/recipes/<%= recipe.id %>"><%= recipe.title %></a>
      </td>

      <td>
        <%= recipe.servings %>
      </td>
    </tr>

  </tbody>
  <% end %>
</table>
